# Python cache files
__pycache__/
*.pyc

# Django database
db.sqlite3

# Media files (uploads, protected files)
protected_media/
media/

# ClamAV test files
*.com
*.exe
*.dll
*.bat

# IDE files
.vscode/
*.idea/
